[Unit]
Description={{appDescription}}

[Install]
WantedBy=multi-user.target

[Service]
User=app
WorkingDirectory=/app
Environment=PORT={{appPort}}
Environment=LANG=C.UTF-8
{{appEnvVars}}
Restart=on-failure
ExecStart=__APP_COMMAND__
