[Unit]
Description={{appDescription}}

[Install]
WantedBy=multi-user.target

[Service]
User=app
WorkingDirectory=/app
Environment=HALCYON_NO_SELF_UPDATE=1
Environment=PORT={{appPort}}
{{appEnvVars}}
Restart=on-failure
ExecStart=/bin/bash -c 'source <( /app/halcyon/halcyon paths ) && __APP_COMMAND__'
